<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.pandora.portal.model.enums.EPublishType" />
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.pandora.common.enums.EBooleanType" />
	</typeHandlers>
</configuration>